<nav class="navbar">
  <div class="navbar-brand">
    <img class="navbar-brand-logo" id="navbarBrandLogo" src="" alt="brand" />
    <a class="navbar-brand-title" href="#">RADIANT TEMPLATE</a>
  </div>
  <div class="navbar-navs" id="navsContainer">
    <ul class="navbar-links">
      <li class="navbar-link-item"><a href="#">PROJECTS</a></li>
      <li class="navbar-link-item"><a href="#">BLOG</a></li>
      <li class="navbar-link-item"><a href="#">ABOUT</a></li>
    </ul>
    <ul class="navbar-socials">
      <li class="navbar-social-item">
        <a href="#" target="_blank">
          <img src="" id="githubLink" alt="github" />
        </a>
      </li>
      <li class="navbar-social-item">
        <a href="#" class="dark-mode-toggle">
          <img src="" alt="dark" id="darkModeButton" />
        </a>
      </li>
    </ul>
  </div>
</nav>
